*{
    margin: 0;
}

/*-------------- Header Section ---------------------*/

.header{
    height: 110vh;
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
}
.h1-text{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    padding-top: 200px;
    padding-right: 150px;
    text-align: right;
}
.paragraph-text{
    color: white;
    text-align: right;
    margin: 50px 150px 0px 0px;
    font-size: 15px;
}
.primary-btn{
    border: none;
    color: #005FAC;
    border-radius: 5px;
    width: 160px;
    height: 65px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 70px 0px 0px 1210px;
}